{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
<a href="{% url 'admin:create_category' %}" class="pure-button pure-button-primary button-radius">
    создать категорию
</a>
<div>
    {% for category in categories %}
    <div>
        <span>{{ category.name }}</span>
        <span>{{ category.description }}</span>
        <a href="{% url 'admin:products' category.pk %}" class="pure-button pure-button-primary button-radius">
            к товарам категории
        </a>
        <a href="{% url 'admin:update_category' category.pk %}" class="pure-button pure-button-primary button-radius">
            редактировать
        </a>
        <a href="{% url 'admin:delete_category' category.pk %}" class="pure-button pure-button-primary button-radius">
            удалить
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}