{% extends 'adminapp/base.html' %}
{% load static %}
{% block content %}
<a href="{% url 'admin:create_user' %}" class="pure-button pure-button-primary button-radius">
    создать пользователя
</a>
<div class="users_list">
    {% for user in users %}
    <div class="basket_record">
        <span>{{ user.username }}</span>
        <span>{{ user.city }}</span>
        {% if user.avatar %}
        <img class="user-avatar" src="{{ user.avatar.url }}" alt="{{ user.username }}">
        {% endif %}
        <a href="{% url 'admin:update_user' user.pk %}" class="pure-button pure-button-primary button-radius">
            редактировать
        </a>
        <a href="{% url 'admin:delete_user' user.pk %}" class="pure-button pure-button-primary button-radius">
            удалить
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}